body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.container-register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.left-panel {
    width: 60%;
    background-color: #007BFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
}

.right-panel {
    width: 40%;
    background: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.tab.active {
    font-weight: bold;
    border-bottom: 2px solid #007BFF;
}

.login-form, .register-form {
    display: none;
}

.login-form.active, .register-form.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: none;
    font-size: 16px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #777;
}

.toggle-password:hover {
    color: #333;
}

.btn-login, .btn-register {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn-login:hover, .btn-register:hover {
    background: #0056b3;
}

p {
    text-align: center;
    margin-top: 10px;
}

#register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
